<p>view-note works! {{ noteId }}</p>

<button class="primary-btn btn-black back-btn">
  <i class="bx bx-chevron-left"></i>
</button>

<div class="content-wrapper">
  <div class="note-helpers">
    <div class="note-breadcrumb">
      <p><span style="color: purple">Science</span> &gt; Note Title</p>
    </div>

    <div class="note-btns">
      <button class="primary-btn btn-black">
        <i class="bx bx-trash-alt"></i>
      </button>

      <button class="primary-btn btn-black">
        <i class="bx bx-edit"></i>
      </button>
      <!-- <button class="primary-btn">
        <i class="bx bxs-star"></i>
      </button> -->
    </div>
  </div>

  <h1 class="note-heading">Note Title</h1>

  <p class="note-text">
    Start writing your note here.. Lorem ipsum odor amet, consectetuer
    adipiscing elit. Lectus parturient lacus aliquet turpis nullam lacus semper
    aenean. Penatibus nullam integer finibus nunc vestibulum hendrerit mauris
    nullam sodales. Mus dictum phasellus porttitor adipiscing dolor rhoncus
    blandit nascetur quisque. List Item 1 List Item 2 List Item 3 List Item 4
    List Item 5
  </p>
</div>
