<section id="header">
  
  <div id="search-bar">
    <input class="text-input" type="search" placeholder="Search notes" (keyup)="searchNote(filter.value)" #filter/>
    <i class="placeholder-icon bx bx-search"></i>

    <button class="primary-btn btn-black" type="submit" (click)="searchNote(filter.value)">
      <i class="bx bx-search"></i>
    </button>
  </div>

  <ng-content></ng-content>

  <div id="clock">
    <span class="time">{{currentTime}}PM |</span>
    <div class="date">
      <span>{{ currentDate | date: 'dd MMM' | uppercase }}</span> <!-- 07 NOV -->
      <span>{{ currentDate | date: 'yyyy' | uppercase }}</span> <!-- 2024 -->
    </div>
  </div>
</section>
