<button
  class="primary-btn btn-black control-btn left-action-btn"
  [routerLink]="'/'"
>
  <i class="bx bx-chevron-left"></i>
</button>

<div class="note-btns right-action-btn">

  <button class="primary-btn btn-black control-btn" [routerLink]="['edit']">
    <i class="bx bx-edit"></i>
  </button>

  <button class="primary-btn btn-black control-btn" (click)="deleteNote()">
    <i class="bx bx-trash-alt"></i>
  </button>
</div>

<div class="content-wrapper">
  <div class="note-helpers">
    <div class="note-breadcrumb">
      <p>
        <span [style.color]="noteSubject.color">{{ noteSubject.name }}</span>
        &gt; {{ note?.id }}. {{ note?.title }}
      </p>
    </div>
  </div>

  <h1 class="note-heading">{{ note?.title }}</h1>

  <p class="note-text">
    {{ note?.content }}
  </p>
</div>
