<aside class="sidebar">
  <div class="sidebar-title">
    <h1>School Notes</h1>
    <p>Version v1.0</p>
  </div>

  <button class="primary-btn btn-black" [routerLink]="'/new'">
    <i class="bx bx-plus"></i>
    New Note
  </button>

  <nav>
    <p class="primary-btn"><i class="bx bx-home"></i>Home</p>
    <p class="primary-btn"><i class="bx bx-search"></i>Search</p>
    <p class="primary-btn"><i class="bx bx-note"></i>All Notes</p>
    <p class="primary-btn"><i class="bx bx-book-alt"></i>Subjects</p>
  </nav>
</aside>
