.new-category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Modal Popup */

.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50em; /* Default: 30em */
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;

  .details-modal-close {
    align-items: center;
    color: #111827;
    display: flex;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    i {
      padding: 1em;
      font-size: 1.5rem;
    }
  }

  .details-modal-title {
    color: #111827;
    padding: 1.5em 2em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em);
  }

  .details-modal-content {
    border-top: 1px solid #e0e0e0;
    padding: 0 2em;
    padding-bottom: 2em;
    pointer-events: all;
    overflow: auto;

    h3 {
      margin: 1.5em 0 1em 0;
    }
  }
}

.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  details[open] & {
    pointer-events: all;
    opacity: 0.5;
  }
}

details {
  summary {
    list-style: none;

    &:focus {
      outline: none;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
}
/* Modal Popup End */

.category-details-wrapper {
  max-height: 200px;
  overflow-y: auto;

  table.category-details {
    width: 100%;
    border-collapse: collapse;

    thead th {
      position: sticky;
      top: 0;
      background: var(--black);
      color: var(--white);
      padding: 1em;
    }

    tr {
      border: 0.5px solid var(--light-grey);
      padding: 0.5em 0;

      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      .subject-color {
        height: 1.5rem;
        width: 1.5rem;
      }

      td {
        padding: 0.5em;

        .category-action-btns {
          display: flex;
          gap: 0.5em;
        }
      }
    }

    .control-btn {
      i {
        font-size: 1rem;
      }
    }
  }
}
