.note-card {
  padding: 2rem;
  background-color: var(--white);
  color: var(--primary-color);
  
  p {
    font-size: 0.875rem;
    color: var(--light-grey);
    cursor: pointer;
    
    .subject {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  
  h2 {
    font-size: 1.25rem;
    margin-top: 0.875rem;
    font-family: "Noto Color Emoji", "Inter";
    cursor: pointer;
  }
}
