<details>
  <summary>
    <div class="primary-btn btn-black control-btn">
      <i class="bx bx-cog"></i>
    </div>
    <div class="details-modal-overlay"></div>
  </summary>
  <div class="details-modal">
    <div class="details-modal-close">
      <i class="bx bx-x"></i>
    </div>
    <div class="details-modal-title">
      <h2>Category Settings</h2>
    </div>
    <div class="details-modal-content">
      <!-- <p>
        You can click the "X" in the corner or click the overlay to close this
        modal. Something like this could be useful as a nice way to show
        additional information, but that's about as far as I would take it. It's
        just a nice way of styling the details element.
      </p> -->

      <h3>Add New Category</h3>

      <!-- Add New Category Form -->
      <form
        (ngSubmit)="onAddNewCategory(newCategoryForm)"
        #newCategoryForm="ngForm"
      >
        <div class="new-category">
          <input type="color" name="color" [(ngModel)]="defaultColor" />
          <input
            class="text-input"
            type="text"
            name="name"
            placeholder="Enter subject name"
            required
            ngModel
          />

          <button class="primary-btn btn-black control-btn" type="submit">
            <i class="bx bx-plus"></i>
          </button>
        </div>
      </form>

      <h3>Category Details</h3>

      <div class="category-details-wrapper">
        <table class="category-details">
          <thead>
            <tr>
              <th>ID</th>
              <th>Subject</th>
              <th>Color</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (subject of subjectList; track $index) {
            <tr>
              <td>{{ subject._id }}</td>

              @if (subject.isEditing) {
              <td>
                <input
                  type="text"
                  class="text-input"
                  [(ngModel)]="subject.name"
                />
              </td>

              <td>
                <input
                  type="color"
                  class="subject-color"
                  [(ngModel)]="subject.color"
                />
                <!-- <div
                  class="subject-color primary-btn"
                  [style.backgroundColor]="subject.color"
                ></div> -->
              </td>

              } @else {

              <td>{{ subject.name }}</td>

              <td>
                <div
                  class="subject-color"
                  [style.backgroundColor]="subject.color"
                ></div>
              </td>
              }

              <td>
                @if (subject.isEditing) {

                <div class="category-action-btns">
                  <button
                    class="primary-btn btn-black control-btn"
                    type="button"
                    (click)="onUpdateCategory(subject)"
                  >
                    <i class="bx bx-check"></i>
                  </button>

                  <button
                    class="primary-btn btn-black control-btn"
                    type="button"
                    (click)="onEditCategoryCancel(subject)"
                  >
                    <i class="bx bx-x"></i>
                  </button>
                </div>

                } @else {

                <div class="category-action-btns">
                  <button
                    class="primary-btn btn-black control-btn"
                    type="button"
                    (click)="onEditCategory(subject)"
                  >
                    <i class="bx bx-edit"></i>
                  </button>

                  <button
                    class="primary-btn btn-black control-btn"
                    type="button"
                    (click)="onDeleteCategory(subject._id)"
                  >
                    <i class="bx bx-trash-alt"></i>
                  </button>
                </div>
                }
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</details>
