<button class="primary-btn btn-black back-btn" [routerLink]="'/'">
  <i class="bx bx-chevron-left"></i>
</button>

<div class="content-wrapper">
  <div class="note-helpers">
    <div class="note-breadcrumb">
      <p>
        <span [style.color]="note?.color">{{ note?.subject }}</span> &gt;
        {{ note?.id }}. {{ note?.title }}
      </p>
    </div>

    <div class="note-btns">
      <button class="primary-btn btn-black">
        <i class="bx bx-trash-alt"></i>
      </button>

      <button class="primary-btn btn-black">
        <i class="bx bx-edit"></i>
      </button>
      <!-- <button class="primary-btn">
        <i class="bx bxs-star"></i>
      </button> -->
    </div>
  </div>

  <h1 class="note-heading">{{ note?.title }}</h1>

  <p class="note-text">
    {{ note?.content }}
  </p>
</div>
