<div id="dashboard">
  <app-sidebar
    (sidebarHomeClick)="resetAllFilters()"
    (sidebarSearchClick)="headerComponent.focusSearchInput()"
    (sidebarAllNotesClick)="showAllNotes()"
    (sidebarSubjectsClick)="showAllSubjects()"
    [class.open]="!isMenuOpen"
  ></app-sidebar>

  <section id="content-area">
    <app-header (searchQuery)="filterNotes($event)" #headerComponent>
      <div id="menu-btn" class="primary-btn btn-black" (click)="toggleMenu()">
        <i class="bx bx-menu" [class.bx-x]="isMenuOpen"></i>
      </div>
    </app-header>

    <button class="primary-btn btn-black new-note-btn" [routerLink]="'/new'">
      New Note
      <i class="bx bx-plus"></i>
    </button>

    @if (isSubjectsVisible) {
    <section id="subject-cards">
      <app-subject-cards
        *ngFor="let subject of subjectList | slice : 0 : subjectsCount()"
        [subjectName]="subject.name"
        [subjectColor]="subject.color"
        (click)="filterNotesBySubject(subject)"
      ></app-subject-cards>
    </section>
    } @else {
    <section id="search-title">
      <h2>
        <i class="bx bx-search"></i>Search results for:"<span>{{
          searchQuery
        }}</span
        >"
      </h2>
    </section>
    } @if (isNotesVisible) {
    <section id="note-cards">
      <app-note-cards
        *ngFor="let note of filteredNotesList | slice : 0 : notesCount()"
        [Note]="note"
      ></app-note-cards>
    </section>
    }
  </section>
</div>
